# NPM dependencies
node_modules

# dotenv file
.env

# Test coverage files
coverage

# Build artifacts
dist

# Yarn 2 files
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Mac OS artifacts
.DS_Store
